{% extends 'base.html' %}

{% block content %}
    <div class="row mt-4 d-flex">
        <div class="col-md">
            <div class="card card-body">
                <h5>Customer:</h5>
                <hr>
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-success btn-sm" type="button">Update Customer</button>
                    <button class="btn btn-outline-info btn-sm" type="button">Place Orders</button>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card card-body">
                <h5>Contact Information:</h5>
                <hr>
                <h5>Email: {{ customer.email }}</h5>
                <h5>Phone: {{ customer.phone }}</h5>
            </div>
        </div>
        <div class="col-md">
            <div class="card status" id="total-orders">
                <div class="card-header">
                    <h5>Total Orders</h5>
                </div>
                <div class="card-body">
                    <h3>{{ total_orders }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="container-fluid">
            <div class="card card-body">
                <div class="col-md">
                    <input type="submit" class="btn btn-primary btn-sm float-end" name="search" value="Search">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="container-fluid">
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Category</th>
                        <th scope="col">Date Ordered</th>
                        <th scope="col">Status</th>
                        <th scope="col">Update</th>
                        <th scope="col">Remove</th>
                    </tr>

                    {% for order in orders %}
                        <tr>
                            <td>{{ order.product }}</td>
                            <td>{{ order.product.category }}</td>
                            <td>{{ order.date_created }}</td>
                            <td>{{ order.status }}</td>
                            <td><a class="btn btn-info btn-sm" href="">Update</a></td>
                            <td><a class="btn btn-danger btn-sm" href="">Remove</a></td>

                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}