{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md">
            <div class="container">
                <div class="card card-body">
                    <h5>Products:</h5>
                    <hr>
                    <table class="table">
                        <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Description</th>
                        <th scope="col">Update</th>
                        <th scope="col">Remove</th>
                        </tr>
                        {% for product in products %}
                            <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.description }}</td>
                             <td><a class="btn btn-info btn-sm" href="">Update</a> </td>
                            <td><a class="btn btn-danger btn-sm" href="">Remove</a> </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}