<div class="row contianer d-flex mb-4">
    <div class="col-md">
        <div class="card status" id="total-orders">
            <div class="card-header">
                <h5>Total Orders</h5>
            </div>
            <div class="card-body">
                <h3></h3>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card status" id="orders-delivered">
            <div class="card-header">
                <h5>Orders Delivered</h5>
            </div>
            <div class="card-body">
                <h3></h3>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card status" id="orders-pending">
            <div class="card-header">
                <h5>Orders Pending</h5>
            </div>
            <div class="card-body">
                <h3></h3>
            </div>
        </div>
    </div>
</div>